<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>Gestão de contratos</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>	
	
	
	<!-- Declaração de servlets -->	
	<servlet>
		<servlet-name>LoginPag</servlet-name>
		<jsp-file>/login.html</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>CadastrarUsuarioPag</servlet-name>
		<jsp-file>/cadastrousuario.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>EsqueceuSenhaPag</servlet-name>
		<jsp-file>/esqueceuasenha.html</jsp-file>
	</servlet>
	
	<!-- Servlets de erros -->
	<servlet>
		<servlet-name>ErroUsuarioExiste</servlet-name>
		<jsp-file>/errosPag/usuarioexiste.html</jsp-file>
	</servlet>
	
	
	<!-- Mapeamento de servlets -->
	<servlet-mapping>
		<servlet-name>LoginPag</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CadastrarUsuarioPag</servlet-name>
		<url-pattern>/cadastrarusuario</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EsqueceuSenhaPag</servlet-name>
		<url-pattern>/esqueceuasenha</url-pattern>
	</servlet-mapping>
	
	
	<!-- Servlets de erros -->
	<servlet-mapping>
		<servlet-name>ErroUsuarioExiste</servlet-name>
		<url-pattern>/usuarioexiste</url-pattern>
	</servlet-mapping>
</web-app>


